@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Base Styles */
body {
  @apply
  bg-hero bg-no-repeat h-full w-full bg-cover bg-fixed bg-right-top
}

.log {
  @apply rounded-md
}

h2 {
  @apply font-bold text-xl
}

a {
  @apply cursor-pointer
}

/* Nav Styles */
nav {
  @apply
      bg-primary text-white
      flex items-center gap-5
       mx-auto;
}

nav a:hover {
  @apply text-cyan-200;
}

main nav {
  @apply border-0;
}

/* scroll stuffz */
html {
  scroll-behavior: smooth;
}

/* button styles */
.sailButton {
  @apply
  px-3 py-2
  rounded-md bg-white
  flex justify-between items-center gap-2
}

button:hover {
  @apply bg-opacity-90
}

/* weather card styles */
.weatherCard {
  @apply bg-[#0C3854] rounded-md
}

/* Meet Skippers Styles */
.image-container {
  width: 100%;
  height: 200px; 
}

/* form styles */
form {
  @apply 
    py-4 px-7 
    bg-opacity-5 
    rounded-md 
    block 
    mx-auto 
    min-w-fit w-1/4;
}
form label {
  @apply block;
}
form input,
form textarea,
form select {
  @apply 
    block 
    mt-2 my-4 px-2 py-1 
    rounded-sm w-full;
}
form button {
  @apply block mx-auto;
}

*{
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .border-collapse {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.border.rounded-lg {
  border-radius: 0.5rem; 
}